<div class="row">
    <div class="col-lg-12">
        <div class="d-flex align-items-center user-member__title mb-30 mt-30">
            <h4 class="text-capitalize">User list</h4>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="userDatatable global-shadow border-light-0 p-30 bg-white radius-xl w-100 mb-30">
            <div class="table-responsive">
                <table class="table mb-0 table-borderless">
                    <thead>
                        <tr class="userDatatable-header">
                            <th>
                                <span class="userDatatable-title">No.</span>
                            </th>
                            <th>
                                <span class="userDatatable-title">
                                    Photo
                                </span>
                            </th>
                            <th>
                                <span class="userDatatable-title">First name</span>
                            </th>
                            <th>
                                <span class="userDatatable-title">Last name</span>
                            </th>
                            <th>
                                <span class="userDatatable-title">Username</span>
                            </th>
                            <th>
                                <span class="userDatatable-title">Email</span>
                            </th>
                            <th>
                                <span class="userDatatable-title">User Type</span>
                            </th>
                            <th>
                                <span class="userDatatable-title float-end">action</span>
                            </th>
                        </tr>
                    </thead>
                    <tbody *ngIf="userList&&userList.length>0;">
                        <tr *ngFor="let r of userList;let ndx = index;">
                            <td>
                                {{ ndx + 1 }}                                
                            </td>
                            <td>
                                <img [src]="url+r.photo" alt="" class="_45x45 img-thumbnail rounded-circle">
                            </td>
                            <td>
                                {{ r.firstName }}
                            </td>
                            <td>
                                {{ r.lastName }}
                            </td>
                            <td>
                                {{ r.userName }}
                            </td>
                            <td>
                                {{ r.email }}
                            </td>
                            <td>
                                <span
                                    class="bg-opacity-success  color-success rounded-pill userDatatable-content-status active">
                                    {{ r.userTypeText }}
                                </span>
                            </td>
                            <td>
                                <ul class="orderDatatable_actions mb-0 d-flex flex-wrap">
                                    <li>
                                            <a class="view" style="cursor: pointer;" title="Reset password" (click)="onEditPassword(r)">
                                                <i class="uil uil-refresh"></i>
                                            </a>
                                        </li>
                                    <li>
                                        <a class="edit" style="cursor: pointer;" (click)="onUserEdit(r)">
                                            <i class="uil uil-edit"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="remove" style="cursor: pointer;" (click)="onUserDelete(r)">
                                            <i class="uil uil-trash-alt"></i>
                                        </a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        <template #noDataFound>

                        </template>
                    </tbody>
                    <tbody *ngIf="isLoadingList">
                        <tr>
                            <td colspan="8" class="text-center">
                                <img src="assets/img/pulse_loader.svg" alt="" style="height: 50px;">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>

<div class="modal-basic modal fade" id="modal-edit-user" tabindex="-1"  aria-modal="true"
    role="dialog">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content modal-bg-white ">
            <div class="modal-header">
                <h6 class="modal-title">Edit {{ editUser?.firstName }} {{ editUser?.lastName }}</h6>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <img src="assets/img/svg/x.svg" alt="x" class="svg">
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="il-gray fs-14 fw-500 align-center mb-10">
                                First name</label>
                            <input type="text" class="form-control ih-medium ip-light radius-xs b-light px-15"
                                placeholder="First name"
                                name="firstName"
                                [(ngModel)]="editUser.firstName"
                                >
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="il-gray fs-14 fw-500 align-center mb-10">
                                Last name</label>
                            <input type="text" class="form-control ih-medium ip-light radius-xs b-light px-15"
                                placeholder="Last name"
                                name="lastName"
                                [(ngModel)]="editUser.lastName"
                                >
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="il-gray fs-14 fw-500 align-center mb-10">
                        Username</label>
                    <input type="text" class="form-control ih-medium ip-light radius-xs b-light px-15"
                        placeholder="Username"
                        name="username"
                        [(ngModel)]="editUser.userName"
                        >
                </div>
                <div class="form-group">
                    <label class="il-gray fs-14 fw-500 align-center mb-10">
                        Email</label>
                    <input type="text" class="form-control ih-medium ip-light radius-xs b-light px-15"
                        placeholder="Email"
                        name="email"
                        [(ngModel)]="editUser.email"
                        >
                </div>
                <div class="form-group">
                    <label class="il-gray fs-14 fw-500 align-center mb-10">
                        UserType</label>
                        <select class="form-control ih-medium ip-light radius-xs b-light px-15"
                        name="userType"
                        [(ngModel)]="editUser.userType"
                        >
                            <option value="1">Admin</option>
                            <option value="2">User</option>
                            <option value="3">Agent</option>
                            <option value="4">Staff</option>
                        </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-sm" *ngIf="!editing" (click)="saveEditUser()">Save changes</button>
                <button type="button" class="btn btn-primary btn-sm" *ngIf="editing">Saving changes...</button>
                <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>


<div class="modal-info-confirmed modal fade" id="modal-info-confirmed" tabindex="-1" aria-modal="true" role="dialog">
    <div class="modal-dialog modal-sm modal-info" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="modal-info-body d-flex">
                    <div class="modal-info-icon warning">
                        <img src="assets/img/svg/alert-circle.svg" alt="alert-circle" class="svg">
                    </div>
                    <div class="modal-info-text">
                        <h6>Delete user '{{ deleteUser?.firstName }} {{ deleteUser?.lastName }}'?</h6>
                        <p>Are you sure you want to delete <b>{{ deleteUser?.firstName }} {{ deleteUser?.lastName
                                }}</b>? </p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light btn-outlined btn-sm" data-bs-dismiss="modal"
                    (click)="this.deleteUser={};">Cancel</button>
                <button type="button" class="btn btn-info btn-sm" data-bs-dismiss="modal"
                    (click)="onDeleteUser(deleteUser?.id)">Ok</button>
            </div>
        </div>
    </div>
</div>






<div class="modal-basic modal fade" id="modal-edit-password" tabindex="-1"  aria-modal="true"
    role="dialog">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content modal-bg-white ">
            <div class="modal-header">
                <h6 class="modal-title">Reset password for  {{ editUser?.firstName }} {{ editUser?.lastName }} user</h6>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <img src="assets/img/svg/x.svg" alt="x" class="svg">
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="il-gray fs-14 fw-500 align-center mb-10">
                                Password</label>
                            <input type="text" class="form-control ih-medium ip-light radius-xs b-light px-15"
                                placeholder="Password"
                                name="password"
                                [(ngModel)]="editPassword"
                                >
                        </div>
                    </div>                    
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-sm" (click)="saveEditPassword()">Save changes</button>
                <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>