<div class="row">
    <div class="col-lg-12">
        <div class="d-flex align-items-center user-member__title mb-30 mt-30">
            <h4 class="text-capitalize">Booking list</h4>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="userDatatable global-shadow border-light-0 p-30 bg-white radius-xl w-100 mb-30">
            <div class="table-responsive">
                <table class="table mb-0 table-borderless">
                    <thead>
                        <tr class="userDatatable-header">
                            <th>
                                <span class="userDatatable-title">No.</span>
                            </th>
                            <th>
                                <span class="userDatatable-title">Agent name</span>
                            </th>
                            <th>
                                <span class="userDatatable-title">Staff name</span>
                            </th>
                            <th>
                                <span class="userDatatable-title">Customer name</span>
                            </th>
                            <th>
                                <span class="userDatatable-title">Date</span>
                            </th>
                            <th>
                                <span class="userDatatable-title">Passengers</span>
                            </th>
                            <th>
                                <span class="userDatatable-title">Nights</span>
                            </th>
                            <th>
                                <span class="userDatatable-title">Departure</span>
                            </th>
                            <th>
                                <span class="userDatatable-title">Arrival</span>
                            </th>
                            <th>
                                <span class="userDatatable-title float-end">action</span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let r of list;let ndx = index;">
                            <td >
                                {{ ndx+1 }}
                            </td>
                            <td>
                                {{ r.agentName }}
                            </td>
                            <td>
                                {{ r.staffName }}
                            </td>
                            <td>
                                {{r.customerName}}
                            </td>
                            <td>
                                {{r.date}}
                            </td>
                            <td>
                                {{r.passengers}}
                            </td>
                            <td>
                                {{r.nights}}
                            </td>
                            <td>
                                {{r.departure}}
                            </td>
                            <td>
                                {{r.arrival}}
                            </td>
                            <td>
                                <a (click)="onPrintClick(r.id)" id="{{ 'loadericon'+r.id }}">
                                    <i class="fa fa-print"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>